.infobox {
    display: flex;
    gap: 2rem;
    align-items: start;
    margin-bottom: 2rem;
}
.avatar.svelte-gv6ls8{display:grid;place-content:center;width:180px;height:180px;background-image:linear-gradient(#6dd0f7, #ff99cb);border-radius:8px;font-size:110px;user-select:none;flex-shrink:0;text-shadow:#000 1px 0 6px}.grid.svelte-gv6ls8{display:grid;gap:0 1rem;grid-template-columns:auto 1fr;grid-template-rows:auto}.place.svelte-gv6ls8{--p-spacing:0 !important}